$light-orange: rgb(219, 161, 71);
$light-blue: rgb(200, 251, 255);
$dark-blue: rgb(0, 11, 89);
$dark-orange: rgb(255, 122, 19);

$primary-orange: rgb(255, 186, 58);
$primary-hvr-orange: rgb(255, 172, 18);

$submit-btn-gr: rgb(19, 123, 19);
$submit-btn-hvr-gr: rgb(25, 159, 25);
